body {
     font-family: 'Poppins', sans-serif;
     font-weight: 400;
     font-size: 15px;
     line-height: 1.6;

     width: 100%;
     max-width: 1593px;
     margin: 0 auto;
     background-color: #e5e5e5;
     
}

a {
     transition: background-color .2s linear;
}
a:hover {
     background-color: #e5e5e5;
}

.head {
     width: 100%;
     max-width: 1593px;

     margin: 0 auto;
     padding-top: 20px;
     padding-bottom: 21px;

     background-color: #fff;
     border-radius: 60px 60px 0 0;
}

.header {
     width: 100%;
     max-width: 1129px;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;

     align-items: center;
}

.header__logo {
     width: 100%;
     max-width: 164px;

     font-weight: 700;
     font-size: 28px;
     line-height: 42px;

     color: #22262A;
}

.header__nav {
     display: flex;
     justify-content: space-between;

     width: 100%;
     max-width: 527px;
}

.shop__nav {
     display: flex;
     justify-content: space-between;

     width: 100%;
     max-width: 148px;
}

a {
     text-decoration: none;
     color: #22262A;
}

li {
     list-style: none;
}